:root {
  --primary-brand-color: #4d5ae5;
  --pressed-state-color: #404bbf;
  --dark-color: #2e2f42;
  --success-color: #31d0aa;
  --text-color: #434455;
  --subtle-text-color: #8e8f99;
  --accent-color: #e7e9fc;
  --light-color: #f4f4fd;
  --modal-overlay-color: rgba(46, 47, 66, 0.4);
  --white-color: #ffffff;
  --hero-background-color: rgba(46, 47, 66, 0.7);
  --white-background-color: #ffffff;
  --modal-background-color: #fcfcfc;

  --main-font-family: 'Roboto', sans-serif;
  --secondary-font-family: 'Raleway', sans-serif;
}

body {
  font-family: var(--main-font-family);
  color: var(--text-color);
}
.reset-link {
  text-decoration: none;
  color: inherit;
}
.reset-list {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*================== HEADER ===============*/
.header {
  background: var(--white-background-color);
}
.header-nav {
}
.logo-link {
  font-family: var(--secondary-font-family);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand-color);
}
.logo-sec-dark-color {
  color: var(--dark-color);
}
.header-list {
}
.header-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}

.header-item-link {
}

.header-item-link:hover,
.header-item-link:focus {
  color: var(--primary-brand-color);
}

.header-address {
  font-style: normal;
}
.header-address-list {
}
.header-address-item {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.header-address-link {
}

.header-address-link:hover,
.header-address-link:focus {
  color: var(--primary-brand-color);
}

/*================== HERO ===============*/

.hero {
  background: var(--dark-color);
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white-color);
}

.hero-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-color);
  background: var(--primary-brand-color);
  cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
  background: var(--pressed-state-color);
}

/*================== Features ===============*/

.Features {
  background: var(--white-background-color);
}
.features-list {
}
.features-item {
}
.features-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}
.features-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*================== examples ===============*/

.examples {
  background: var(--white-background-color);
}
.examples-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark-color);
}
.examples-list {
}
.reset-list {
}
.examples-item {
}

/*================== Our Team ===============*/
.team {
  background: var(--light-color);
}
.team-title {
  font-size: 36px;
  line-height: 11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark-color);
}

.team-list {
}
.team-item {
  background: var(--white-background-color);
}
.team-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}

.team-item-text {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
}

/*================== Footer ===============*/
.footer {
  background: var(--dark-color);
}

.logo-sec-light-color {
  color: var(--light-color);
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light-color);
}

/*================Portfolio==============*/
.portfolio {
  background: var(--white-background-color);
}
.portfolio-title {
}
.portfolio-btn-list {
}
.portfolio-btn-item {
}
.portfolio-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--primary-brand-color);
  background: var(--light-color);
  cursor: pointer;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--white-color);
  background: var(--pressed-state-color);
}

.portfolio-list {
}
.portfolio-item {
}
.portfolio-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}
.portfolio-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
